<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--配置接口dao的全限定类名-->
<mapper namespace="ssm.mapper.AccountMapper">

    <insert id="SaveCount">
    INSERT INTO account (name,money,birthday)
    VALUES (#{name},#{money},#{birthday}) ;
    </insert>

    <!--配置需要执行的sql语句以及需要被执行的方法-->
<select id="findAll" resultType="ssm.pojo.Account">
      select * from account;
</select>

</mapper>